<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>City</title>
</head>
<body>
<h3>City</h3>
<p>
    <a th:href="@{/city/create}">
        Add new city
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Nation</th>
        <th>Acreage</th>
        <th>Population</th>
        <th>GDP</th>
        <th>Describee</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${city}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getNation()}"></td>
        <td th:text="${row.getAcreage()}"></td>
        <td th:text="${row.getPopulation()}"></td>
        <td th:text="${row.getGdp()}"></td>
        <td th:text="${row.getDescribee()}"></td>

        <td><a th:href="@{/city/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{/city/{id}/delete(id=${row.getId()})}">Delete</a></td>
        <td><a th:href="@{/city/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>